@import "compass"
@import "partials/conf"
@import "partials/typo"

.page-doc
  background: #FFF
  font-size: 14px

  .container-fluid
    padding: 30px

    #vosae-api-home
      color: #333
      font-size: 18px
      display: block
      margin-bottom: 24px

      img
        height: 36px
        margin-right: 4px

    .well
      padding: 0

    .resource-list
      .panel-title
        color: $brand-success
      .panel-body 
        li
          padding: 3px 0
        a
          color: $brand-primary
          text-decoration: none
        .glyphicon
          font-size: 13px
          padding-right: 8px
          padding-left: 15px

  h1
    border-bottom: 1px solid $gray-lighter
    margin: 0 0 20px
    padding: 0 0 20px

  h3
    margin: 0 0 5px

  pre
    font-size: 12px

  .resource
    margin-bottom: 40px

  .methods
    .method-description
      margin-top: 60px

  table.endpoint
    width: 100%

    tr
      td
        line-height: 24px

      td:first-child
        white-space: nowrap
        padding-right: 20px

      td:last-child
        width: 100%

  .spec
    width: 100%
  
  .source
    pre
      overflow: auto
      max-height: 300px

  .label + .label
    margin-left: 4px

  .nav.nav-pills
    margin-bottom: 30px


  .label-success
    background-color: #468847
  .label-warning
    background-color: #F89406
  .label-info
    background-color: #3A87AD
  .label-danger
    background-color: #B94A48