{% load i18n cache %}
{% load static from staticfiles %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        {% include "core/skeleton_head.html" %}
        {% block css %}{% endblock %}
        {% block js %}{% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <div id="wrapper">
            {% block header %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-8785414-10']);
            _gaq.push(['_setDomainName', 'vosae.com']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>   
</html>

