{% load i18n cache %}
{% load static from staticfiles %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        {% include "core/skeleton_head.html" %}
        {% block css %}{% endblock %}
        {% block js %}{% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <div id="wrapper">
            {% block header %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
    </body>   
</html>

