// Colors
$orange: #EB5F3A
$green: #44B2AE
$yellow: #F2DD93
$red: #EB292C
$white: #FFFFFF
$lightgrey: #F5F5F5
$grey: #EEEEEE
$darkgrey: #DCDCDC
$darkergrey: #888888
$blue: #3498DB
$pink: #C3325F
$purple: #7A43B6

// Typography
$sansFontFamily: bariol, Georgia, 'Times New Roman', Times, serif
$baseFontSize: 16px
$baseLineHeight: 24px
$fontPictos: "fontPictos"
$fontPictos: "font-pictos"
$fontAwesome: "FontAwesome"
$fontBariol: "bariol"

// Scaffolding
$bodyBackground: #EEE
$textColor: #333
