{% extends "account/base.html" %}
{% load i18n static %}

{% block title %}{% trans "Reset password page" context "Html title" %} | {{ block.super }}{% endblock %}
{% block meta_property_og_title %}{% trans "Reset password page" context "Html title" %} | {{ block.super }}{% endblock %}
{% block meta_property_twitter_title %}{% trans "Reset password page" context "Html title" %} | {{ block.super }}{% endblock %}

{% block content %}{{ block.super }}{% endblock %}
{% block page_account_title %}{% trans 'Thanks for using Vosae' %}{% endblock %}
{% block page_account_content %}
    <p class="message-info">
        {% trans "We've emailed you instructions for setting your password. You should be receiving them shortly." %}
        <br><br>
        {% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
    </p>
    <p class="submit">
        <a class="btn green" href="{% url 'signin' %}">{% trans 'Log in' %}</a>
    </p>
{% endblock %}
