{% extends "account/base.html" %}
{% load i18n static %}

{% block title %}{% trans "Reset password page" context "Html title" %} | {{ block.super }}{% endblock %}
{% block meta_property_og_title %}{% trans "Reset password page" context "Html title" %} | {{ block.super }}{% endblock %}
{% block meta_property_twitter_title %}{% trans "Reset password page" context "Html title" %} | {{ block.super }}{% endblock %}

{% block content %}{{ block.super }}{% endblock content %}
{% block page_account_title %}{% trans "Reset your password" %}{% endblock %}
{% block page_account_content %}
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.label_tag }}
                <div class="input">
                    {{ field }}              
                    {% if field.errors %}
                        <span class="help-inline error">
                            {% with field.errors|first as first_error %}
                                - {{ first_error }}
                            {% endwith %}
                        </span>
                    {% elif field.help_text %}
                        <span class="help-inline">
                            {{ field.help_text }}
                        </span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <p class="submit">
            <button type="submit" class="btn green">
                {% trans "Reset my password" %}
            </button>
        </p>
    </form>
{% endblock %}
{% block page_account_bottom %}
    <a class="grey" href="{% url 'signup' %}">{% trans "Don't have an account? Sign up" %}</a>
{% endblock %}
