{% extends "account/base.html" %}
{% load i18n static %}

{% block title %}{% trans "Reset password page" context "Html title" %} | {{ block.super }}{% endblock %}
{% block meta_property_og_title %}{% trans "Reset password page" context "Html title" %} | {{ block.super }}{% endblock %}
{% block meta_property_twitter_title %}{% trans "Reset password page" context "Html title" %} | {{ block.super }}{% endblock %}

{% block content %}{{ block.super }}{% endblock %}
{% block page_account_title %}{% trans 'Set your password' %}{% endblock %}
{% block page_account_content %}
    {% if validlink %}
        <p class="message-info">
            {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
        </p>
        <form action="" method="post">
            {% csrf_token %}
            <div>
                <label for="id_new_password1">{% trans 'New password:' %}</label>
                <div class="input">
                    {{ form.new_password1 }}
                    {% if form.new_password1.errors %}
                      <span class="help-inline error">
                        {% with form.new_password1.errors|first as first_error %}
                          - {{ first_error }}
                        {% endwith %}
                      </span>
                    {% endif %}
                </div>
            </div>
            <div>
                <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                <div class="input">
                    {{ form.new_password2 }}
                    {% if form.new_password2.errors %}
                      <span class="help-inline error">
                        {% with form.new_password2.errors|first as first_error %}
                          - {{ first_error }}
                        {% endwith %}
                      </span>
                    {% endif %}
                </div>
            </div>
            <p class="submit">
                <button type="submit" class="btn green">
                    {% trans "Change my password" %}
                </button>
            </p>
        </form>
    {% else %}
        <p class="message-info">
            {% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
        </p>
        <p class="submit">
            <a class="btn green" href="{{ password_reset }}">{% trans 'Request new password' %}</a>
        </p>
    {% endif %}
{% endblock %}